/*
 * about:config -> toolkit.legacyUserProfileCustomizations.stylesheets : True
 * about:support -> Profile Folder -> Open Folder
 * Create `chrome` direcory
 */

:root:not([customizing]) #titlebar {
  margin-bottom: calc(0px - 2 * var(--tab-block-margin) - var(--tab-min-height));
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] {
  visibility: hidden;
}

#sidebar-header {
  display: none;
}
